-e git+https://github.com/UnissonCo/dataserver.git@makerscience#egg=dataserver-project
-e git+https://github.com/django-notifications/django-notifications.git@master#egg=django_notifications_hq-master
django-sekizai==0.8.1
Whoosh==2.6.0
django-wysiwyg-redactor==0.4.9
django-solo
django-grappelli==2.5.7
django-ipware
pycrypto==2.6.1
