Cet e-mail a été envoyé automatiquement. Merci de ne pas y répondre.<br>
<br>
{% if recipient %}
Vous ne souhaitez pas recevoir les <span class="il">notifications</span> d'activité ou modifier vos préférences ?
<a href="http://makerscience.fr/u/{{recipient.slug}}/dashboard">Rendez-vous dans votre espace personnel.</a><br>
<br>
{% endif %}
Pour des demandes générales, obtenir de l'aide ou signaler un abus, merci de laisser un message à l'équipe sur
<a href="mailto:contact@makerscience.fr" target="_blank">contact@makerscience.fr</a>.<br>
&nbsp;
